@import "../../variables";

.banner {
    width: 100%;
    height: auto;
}

.registerSection {
    display: none;
}

.goldText {
    position: absolute;
    top: 280px;
    right: 70px;
    // padding-left: 50px;
    // margin-right: 100px;
    // width: 100vw;
    // border: 3px solid #73AD21;
    // height: auto;
}

@media only screen and (max-width: 1400px) {
    .registerSection {
        // border: 2px solid red;
    
        width: 80%;
        margin: 90px auto 0 auto;
    
        display: flex;
        // flex-wrap: wrap;
        // flex: 1 1 345px;
        justify-content: space-between;
    }

    .goldText {
        display: none;
    }
}

.section1 {
    // border: 2px solid red;

    width: 80%;
    margin: 90px auto 0 auto;

    display: flex;
    // flex-wrap: wrap;
    // flex: 1 1 345px;
    justify-content: space-between;
}

.section2 {
    // border: 2px solid red;

    width: 80%;
    margin: 40px auto 0 auto;

    display: flex;
    // flex-wrap: wrap;
    // flex: 1 1 345px;
    justify-content: space-between;
}

.section3 {
    // border: 2px solid red;

    width: 80%;
    margin: 40px auto 0 auto;

    display: flex;
    // flex-wrap: wrap;
    // flex: 1 1 345px;
    justify-content: space-between;
}